body {
    font-family: sans-serif;
background-image:linear-gradient(to right, rgb(217, 255, 0),#d5e403,#a1c406,#8da507 ) ;
}

h1{
   color: yellow;
}
h2{
    color:yellow;
    
}
h3{
    color:red;
}
h4{
    color: red;
}
.trbogatira:hover{
    margin: 10px;
    transform:scale(1.3);
    transition:2s linear;
}

.noch:hover{
    margin: 10px;
    transform:scale(1.3);
    transition:2s linear;
}

a{
     color: red;
     text-decoration: none;
     border:1px solid red;
}
